.NavBar {
  background-color: #5d37d8a3;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2%;
  position: sticky;
  top: 0;

  button {
    width: 20%;
    height: 50%;
    min-height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &:hover {
      background-color: rgb(206, 250, 206);
    }
  }
}
