.note-card {
  height: 200px;
  width: 200px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.note-card-time-date {
  display: flex;
  font-size: smaller;
  justify-content: space-between;
}

.note-card-title {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
}

.note-card-btn {
  display: flex;
  justify-content: space-between;
}

.note-card-priority {
  border-radius: 2px;
  font-size: small;
  padding: 4px 6px;
  color: white;
  font-weight: 500;
}

.note-card-tag {
  border-radius: 2px;
  padding: 4px 6px;
  font-size: small;
  font-weight: 500;
  background-color: rgb(228, 221, 221);
}

.note-card-empty {
  font-size: larger;
  font-style: italic;
  margin: 20px;
}

.high-priority {
  background-color: rgb(255, 88, 88);
}

.mid-priority {
  background-color: orange;
}

.low-priority {
  background-color: rgb(10, 211, 10);
}

@media (max-width: 500px) {
  .note-card {
    width: 90vw;
  }
}
