.editor-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border: none;
  min-width: 100px;
}

.editor-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  button {
    width: 20%;
    height: 50%;
    background-color: white;
    border: 1 px solid black;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &:hover {
      background-color: rgb(206, 250, 206);
    }
  }
}

.editor-tag {
  display: flex;
  flex-direction: row;
  height: 20px;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  padding: 5px;
}
